[Unit]
Description=Nixplay Flickr syncing service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 nixflix.py --poll 900
Restart=always

[Install]
WantedBy=multi-user.target
