[Unit]
Description=Nixplay Flickr syncing service
After=multi-user.target

[Service]
Type=Simple
ExecStart=/usr/bin/python3 nixflix.py
Restart=always

[Install]
WantedBy=multi-user.target